.line {
  width: 100%;
  height: 1px; /* 선의 두께 */
  background-color: #B1B1B1; /* 선의 색상 */
  margin-bottom: 10px; /* 선과 컨텐츠 간격 */
}

.course-doc-inner {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  .folder-container {
    position: relative;

    .loading-indicator {
      text-align: center;
      margin-top: 2rem;
    }

    .error-message {
      color: red;
      text-align: center;
      margin: 1rem 0;
    }

    .folder-header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .currentFolder-Name {
        margin-left: 0.5rem;
        font-weight: bold;
      }
    }

    .folder-container-inner {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem; /* 필요에 따라 간격 조절 */

      .folder-one {
        display: flex;
        align-items: center;
        cursor: pointer;

        .folder-icon {
          margin-right: 0.5rem;
          ion-icon {
            font-size: 2rem;
            color: #7a67ee; // 폴더 아이콘 색상
          }
        }

        .folder-title {
          display: flex;
          align-items: center;

          .doc-txt {
            margin-right: 0.5rem;
            font-weight: 600;
          }

          .ellipsis-icon {
            margin-left: auto;
            ion-icon {
              font-size: 1.2rem;
              color: #999;

              &:hover {
                color: #ff5757; // 휴지통 아이콘 hover 색상
              }
            }
          }
        }

        &.folder-add {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            transition: 0.2s ease;
          }
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }

        .folder-input-container {
          display: flex;
          align-items: center;

          .folder-input {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 4px 8px;
            margin-right: 0.5rem;
          }

          .create-folder-btn {
            background-color: #7a67ee;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 4px 8px;
            cursor: pointer;

            &:disabled {
              background-color: #ccc;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
