<ion-content>
  <div class="container">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <!-- 왼쪽 영역 -->
    <div class="left">
      <div class="top">
        <app-project-my-left-top></app-project-my-left-top>
      </div>
      <div class="line"></div>
      <div class="bottom">
        <app-project-my-left-bottom></app-project-my-left-bottom>
      </div>
    </div>

    <!-- 오른쪽 영역 -->
    <div class="right">
      <app-project-my-right></app-project-my-right>
    </div>
  </div>
</ion-content>


