<ion-header>
  <ion-toolbar>
    <ion-title>자료 업로드</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="file-upload">

    <ion-item>
      <ion-label position="stacked">자료 제목</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="projectKeyDocTitle"
        placeholder="자료 제목을 입력하세요">
      </ion-input>
    </ion-item>

    <!-- 파일 선택 -->
    <ion-item>
      <ion-label position="stacked">파일</ion-label>
      <input type="file" (change)="onFileSelected($event)" accept="*/*" />
    </ion-item>

    <!-- 업로드 버튼 -->
    <ion-button expand="block" (click)="onUpload()" [disabled]="!projectKeyDoc?.key_doc_url">
      업로드
    </ion-button>
    <div><p>16:9의 화면 비율을 가진 영상을 업로드해주세요!</p></div>
  </div>

  <div class="file-list">
    <ion-list>
      <ion-item *ngIf="projectKeyDoc">
        <ion-label>
          <h2>파일명: {{ projectKeyDoc.key_doc_url.name }}</h2>
          <p>크기: {{ projectKeyDoc.key_doc_url.size | number }} bytes</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
