<div class="right-container">
  <!-- 팀원 목록 -->
  <div class="team-members-box">
    <h3 class="box-title">팀원</h3>
    <ul class="team-member-list">
      <li class="team-member">
        <!--여기에서 project_registration으로 접근하여 project_id와 관련있는 user_id를 찾고
        user_id로 user_name을 찾아 넣어주고 user_id로 Role을 찾아 if 팀장이라면 crown을 넣어준다.-->
        <span class="name">김재호</span>
        <span class="crown">👑</span>
      </li>
      <!--여기에 팀원을 하나씩 가져와서 넣어준다.-->
      <li class="team-member">김동년</li>
      <li class="team-member">박찬진</li>
      <li class="team-member">손정민</li>
      <li class="team-member">용채영</li>
    </ul>
  </div>

  <!-- 나의 역할 -->
  <div class="my-role-box">
    <h3 class="box-title">“프로젝트의 나는”</h3>
    
    <div class="role-info">
      <div class="role-label">팀의 역할</div>
      <!--여기에 project_registration의 team_role을 넣어준다.-->
      <div class="role-value">팀장</div>
    </div>

    <div class="role-info">
      <div class="role-label">포지션</div>
      <!--여기에 project_registration의 project_role을 넣어준다.-->
      <div class="role-value">Frontend</div>
    </div>
  </div>
</div>
